vendor/*
public/vendor/
/node_modules
/public/bower_components
Homestead.yaml
Homestead.json
.env

.DS_Store
npm-debug.log
.idea/*
Thumbs.db
desktop.ini
*.tmp
*.bak
*.swp
*.swo
*~
_ide_helper.php
composer.phar
